@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Ranchers&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*
{
     font-family: 'Roboto';
}
header
{
     height: 72px;
     width: 100%;
     background-color: rgb(68, 74, 82);
     color: white;
     display: flex;
     align-items: center;
}
header .logotype
{
     font-size: 37px;
     margin-left: 12px;
}
header .menu
{
     flex-grow: 1;
     margin-right: 203px;
     display: flex;
     align-items: center;
     justify-content: end;
}
.menu-element
{
     font-size: 34px;
     text-decoration: none;
     color: white;
}